@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  color: #f4f1de;
}

.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #3d405b;
  /* background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

button {
  background: #42a561;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #2b2d41, -2px -2px 4px #4f5375;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3d405b;
}

::-webkit-scrollbar-thumb {
  background: #42a561;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c5a30;
}
